<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Enes, Enes Fide, enes, enes fide">
    <meta name="author" content="Enes Fide">
    <meta name="description" content="Enes Fide'nin Web Sitesi">    
    <title>Enes Fide</title>
    <link rel="icon" href="/static/img/iconiki.png" type="">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home/body.css')}}" type="text/css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

    <div class="back">
        
        <div class="up_side">
            <div class="btn btn_1">
                <a href="/home/en">for english</a>
            </div>
            <div class="title">
                <a href="/">Enes Fide</a>
            </div>
        </div> 
        
        <div class="left_side">
            <div class=image>
                <img src="{{url_for('static', filename='img/benimgg.jpg')}}" alt="Enes Fide">
            </div>
         </div>
         
         <div class="right_side">
            
            <div class="hello">
                <p>Hello,<br>I am Enes Fide!</p>
            </div>
            
            <div class="comment">
                <p>I am someone who tries not to be the first type that comes to your mind when it comes to software and to show people that software is not only a technical job but also art. I was curious about the software in the first high school and realized that I was interested in this job.
                    After getting the answer "Python" from my computer teachers to the question "Where should I start?", I started learning python. As I get bored with Python, find free time, I actually wrote programs every time I turned on the computer. When Pythonda took myself to an advanced level, I learned Django, flask, selenium frameworks. HTML, CSS,
                    When I learned the Javascript trio at intermediate level, I started to design and develop websites. I am currently designing dynamic websites with this trio.</p> 
            </div>
        
        </div>
         
      </div>

</body>
</html>